// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-form-container {
  padding: 15px 10px;
  font-family: inherit;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}
.post-form-holder {
  margin: 10px;
}

.post-form-submit-btn {
    width: 70px;
    cursor: pointer; 
}
.post-form {
  margin: 15px 15px 5px 5px;
}
.post-form-submit-btn {
  font-size: 20px;
    line-height: 30px;
    background-color: #286cd1;
    border-color: #286cd1;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    color: white;
    margin-top: 10px;
    margin-left: 420px;
}
.post-form-modal-btn {
  color: rgba(191, 194, 201,1);
  opacity: 1;
}
.post-form-modal {
  top: 100px;
  left: -50px;
  width: 500px;
  margin-left: 500px !important; 

}
textarea[class*='post-form-text'] {
  // display: flex;
  // justify-content: flex-start;
  width: 90%;
  // margin-right: 0%;
  // margin-left: 15%;
  height: 150px;
  padding: 5px 5px;
  box-sizing: border-box;
  border: none;
  // background-color: #f8f8f8;
  resize: none;
  font-size: 20px;
  text-align: start;
  font-family: inherit;

}
// input[class*='post-form-text']::placeholder {
//   // float: top; 
//   position: relative;
//   top:-45px;
//   left: 10px;
// }






// .inputText {
//   font-size: 14px;
//   width: 200px;
//   height: 35px;
// }

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}
.post-index-container {
  width: 100%;
}
.post-form-img-container {
  display: flex;
  justify-content: space-between;
}
.post-form-img-container img {
  border-radius: 50%;
    overflow: hidden;
    display: block;
    height: 40px;
    width: 40px; 
    max-width:100%;
    max-height:100%;
    object-fit: scale-down;
    border: 1px solid #696969;
}
.post-index-item-container {
  margin: 15px 0px 15px 0px;
  font-family: inherit; 
  display: inline-block;
  border: gray 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 12px 12px 0;
  margin-bottom: 10px;
  font-size: 24px;
  box-sizing: border-box; 
}
.post-index-item-author-information {
  display: flex; 
  flex-wrap: wrap;
  margin-bottom: 20px;
  height: 42px;
}
.post-index-item-author-img-container {
  margin-right: 20px;
}
.post-index-item-author-img-container img {
  border-radius: 50%;
    overflow: hidden;
    display: block;
    height: 40px;
    width: 40px; 
    max-width:100%;
    max-height:100%;
    object-fit: scale-down;
    border: 1px solid #696969;
}
.post-index-item-author-name {
  position: relative;
  color:  #286cd1;
  top: 10px;
}
.post-index-item-body {
  box-shadow: 0px 5px 2px -5px gray; 
  padding: 5px 5px 10px 5px;
}
.post-index-item-middle-bar {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0px;
  box-shadow: 0px 5px 2px -5px gray;
}
.post-index-item-btn {
  // flex: 1 1 auto;
  display:flex;
  justify-content: space-evenly;
  background: transparent;
  cursor: pointer;
  color: gray;
}
.post-index-item-btn span {
  font-family: inherit;
  font-size: 15px; 
  position: relative; 
  left: 20px;
  top: 5px;
}

.delete-post-btn {
  background: transparent; 
  color: darkgray; 
  cursor: pointer;
  position: absolute;
  // float:right;
  // right: 100px;
  left: 395px;
  top: -5px;
}
.like-count {
  font-size: 15px;
  color: #696969;
}

.like-count:hover {
  text-decoration: underline;
  cursor: pointer;
}

.liker-item-img-container img {
  width: 50px;
  height: 50px; 
  object-fit: scale-down;
}

.liker-modal {
  width: 300px;
}

.liker-item {
  display: flex; 
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  margin-left: 30px;
}

.liker-link {
  position: relative; 
  font-size: 18px;
  color: black !important;
  top: 20px;
  left: 25px;
}
.liker-link:hover {
  text-decoration: underline;
}

.liker-space {
  height: 20px;
}

.liker-modal {
  height: 400px;
  width: 230px;
}

.post-index-item-wall-information {
  margin-left: 20px;
}
.post-index-item-wall-information i {
  margin-right: 28px; 
  position: relative;
  top: 10px;
}
.post-form-body {
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  margin: 15px -30px 5px -20px; 
  padding: 10px 15px;
}
.post-form-holder {
   border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  margin: 15px 5px 15px 5px; 
  padding: 10px 0px;
}
.post-form span {
  color: #808080; 
}
.post-form-container span {
  color: #808080;
}
.post-form span i, .post-form-container span i {
  margin-left: 10px;
}
.post-index-item-body-text, .like-count  {
  margin-left: 5px;
}
.post-index-item-body-text {
  width: 100%; 
}
.post-index-item-body-text div {
  width: 100%; 
}
 .comment-index-item-body-text {
  // width: 100%;
  height: 100%;
}
.comment-index-item-text {
  margin: 0;
  padding: 0;
}

.fa-ellipsis-h:hover {
  color: black;
}
.post-dropdown {
  left: -55px;
  top: -30px;
}

.post-dropdown-content {
  width: 100px !important;
  left: 315px;
  top: 5px;
  box-shadow: none !important;
  color: #1d2129 !important;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, .15)  !important;
  border-radius: 2px  !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3)  !important;
  padding-bottom: 5px;
}

.post-dropdown-a {
  cursor: pointer;
  padding: 0px 5px; 
  background-color: inherit;
  color:#696969;
}
.post-dropdown-a:hover {
  color: black;
}
.post-dropdown-a i {
  margin-left: 5px;
}

.other-btn {
  left: 392px;
  top: -13px;
}