// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-profile-page {
  margin: 50px 0 0 130px;
}
.profile-header-page {
  margin: 0 0; 
  padding: 0 0; 
}

.cover-photo-container, .profile-picture-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cover-photo-holder {
  width: 851px;
  height: 315px; 
  border: 1px solid black; 
  margin: 0 0; 
  overflow: hidden;
}

img {
   max-width:100%;
    max-height:auto;
    object-fit: cover;
}

#input[type="file"] {
  display: none;
}
.image-upload-label { 
  font-family: inherit;
  width: 50px; 
  color: white;
  background: transparent ;
  border-radius: 5px;
  margin:50px 0 0 50px;
  display: flex;
  justify-content: center;
  cursor: pointer; 
}
.profile-img-input-label {
  display: flex; 
  flex-wrap: nowrap;  
  width: 30px;

}
.image-upload-label i {
  color: white; 
}
.image-upload-label-text {
  display: none;
}
.image-upload-label:hover .image-upload-label-text {
  display: inline-block;
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.prof-image-upload-label-text {
  display: none;
}
.profile-picture:hover .prof-image-upload-label-text {
  display: inline-block;
  background: black;
  border: 1px solid #000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.image-upload-label:hover {
  background: black;
  border: 1px solid #000;
  width: 170px; 
  height: auto;
}
.cover-photo-modal, .profile-picture-modal {
  padding: 50px 50px 20px 20px;
}
.profile-img-upload-btn, .img-upload-btn {
  background: #286cd1; 
  color: white; 
  display: inline-block;
  border:none; 
  padding: 7px 7px;
  border-radius: 3px;
  cursor: pointer; 
  // margin-left: 50%;
  // text-align: left;
  float:right;
}
.profile-img-upload-btn i, .img-upload-btn i {
  padding: 3px;
  font-size: 20px;
}
.cover-photo {
    // border: 1px solid #000;
    // border-color: rgba(0, 0, 0, .25);
    // border-top-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: 50px;
    margin: 0 0;
    width: 1000px;
}
.cover-form-modal-center {
  margin: 200px;
}
.cover-photo-preview {
  
}

.edit-cover-photo-btn {
  position: relative;
  top: 0;
  left: 50px;
  z-index: 1;
}

.edit-profile-picture-btn {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100px;
  top: 110px;
  left: 50px;
  z-index: 8;
  cursor: pointer;
}

.profile-picture {
  z-index: 2;
  display: block;
  border-radius: 100%;
  background-color: #fff;
  height: 160px;
  position: relative;
  width: 160px;
  overflow: hidden;
  top: 190px;
  left: 60px;
  // border: 2px solid black;
  border: 2px solid #fff;
  cursor: pointer;
}

.profile-username-holder {
  font-family: inherit; 
  font-size: 25px;
  color: white;
  font-weight: bold;
  position: relative;
  left: 250px;
  top: 100px;
  text-shadow: 0 0 3px rgba(0, 0, 0, .8);
  z-index: 4;
}
.profile-header-page-ul-container {
  font-family: inherit;
  clear: right;
  padding-left: 201px;
  width: 649px;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  position: relative;
  top:122px;
  border: 2px solid black;
  // box-sizing: border-box;
}
.author-profile-header {
  margin-bottom: 80px;
}
.wall-profile-header {
  margin-bottom: 41px;
}
.profile-header-page-ul {
  list-style: none; 
  border-left: 1px solid #e9eaed;
  margin: 0;
  padding: 0;
  display: block;
  
}
.profile-header-page-ul li {
  font-size: 24px;
  font-family: inherit;
  width: auto;
  float: left;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
  color: #2851A3;
  font-weight: bold;
  cursor: pointer;
}
.clearfix {
  zoom: 1;
}
// .clearfix:after {
//     clear: both;
//     content: '.';
//     display: block;
//     font-size: 0;
//     height: 0;
//     line-height: 0;
//     visibility: hidden;
// }

// .user-profile-page-header {
//   margin-bottom: 120px;
// }
.user-profile-page-content {
  width: 851px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.profile-side-page {
  width: 300px;
}
.profile-body-page {
  width: 500px; 
}

.friend-list-container {
  width: 100%;
  display: inline-block;
  border: 1px solid gray;
  padding: 10px 10px;
  height: 400px;
  border-radius: 5px;
}
.friend-list-container-name {
  font-size: 20px; 
  margin-left: 15px;
}
.friend-list-container-name i {
  color: #2851A3;
}
.friend-list-ul {
  display: flex;
  flex-wrap: wrap; 
}
.friend-list-item {
  margin: 3px 1px;
  display: flex;
  align-items: center;
  flex-direction: column; 
  // overflow: hidden;
}

.friend-list-item-img-container {
  margin: 5px 1px;
  padding: 2px;
  
}
.friend-list-item-img-container img {
    overflow: hidden;
    display: block;
    height: 90px;
    width: 90px; 
    max-width:100%;
    max-height:100%;
    object-fit: scale-down;
    border: 1px solid #696969;
  // border-radius: 5px;
}
.friend-list-item-link {
  text-decoration: none;
  color: #286cd1; 
  text-align: center;
}


