/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.app-container {
  margin: 0;
  padding: 0;
  border: 0;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; 
  border: none;
  position: static;
  flex-wrap: nowrap;
  height: 50px;
  width: 100%;
  background: #2851A3;
  padding-top: 0;
  padding-left: 100px;
  padding-right: 200px;
  margin: 0 0 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  /* opacity: 1; */
  /* position: fixed; */
}

.navbar-container-container {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.fa-facebook-square {
  margin: 0;
  padding: 0;
  color: white;
  background: #2851A3;
}

.navbar-newsfeed-link{
  background: #2851A3;
  color: #2851A3;
  font-size: 22px;
  /* padding: 14px 25px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 50px;
}
.navbar-newsfeed-link i {
    cursor: pointer;
    padding: 2.5px;
}


/* Dropdown Button */
.dropbtn {
  background-color: #2851A3;
  padding: 17px;
  border: none;
  cursor: pointer;
  left: 1000px;
}
.friend-dropdown{
  z-index: 6;
 }

.friend-button {
  font-family: inherit;
  background-color: #f5f6f7;
  display: inline-block;
  border: rgba(0, 0, 0, .4);
  padding: 5px 15px; 

  position: relative;
  left: 600px;
  top: -40px;
  border-radius: 1px;
  cursor: pointer;
  color: #4b4f56;
  font-size: 15px; 
}
.friend-drop-down-content {
  font-family: inherit;
  left: 600px;
  top:-12px;
  border-radius: 2px;
  width: 70px;
  padding: 5px 0px; 
  font-size: 15px;
  color: #4b4f56;
}
.friend-drop-down-a {
  padding-left: 20px;
  color: #4b4f56;
}
/* .friend-notice-dropbtn .fa-user-friends:hover {
  color: #231bff;
} */
.friend-notice-dropbtn .fa-user-friends {
  color: rgb(29, 42, 69);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 180px;
  z-index: 1;
  border: #A9A9A9;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  right: 0;
}


/* Links inside the dropdown */
.dropdown-content a {
  font-family: inherit;
  font-size: 20px;
  color:#A9A9A9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: white;
  background-color: #D3D3D3;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.logout-button {
  cursor: pointer;
}

.newsfeed {
  font-family: inherit;
  margin-top:100px;
  margin-left: 50px;
  display: inline-block;
  /* display: flex;
  flex-wrap: nowrap; */
}

.friend-notice-dropbtn {
  height: 50px;
  /* position: fixed; 
  left: 900px; */
}



.newsfeed-left {
  margin-left: 50px;
  width: 300px;
  height: 100%;
}
.newsfeed-right {
  width: 500px;
}

.newsfeed-user-profile {
  list-style: none; 
  font-family: inherit;
}

.newsfeed-user-profile li{
  font-size: 30px;
  text-decoration: none;
}

.newsfeed-user-profile a {
  font-size: 30px;
  text-decoration: none;
  color: #1d2129;
}
.newsfeed-user-profile a:hover {
  font-weight: bolder;
}

.newsfeed {
  display: flex;
  flex-wrap: wrap;
}



.newsfeed-user-img-container {
  margin-right: 20px;
}
.newsfeed-user-img-container img {
  border-radius: 50%;
    overflow: hidden;
    display: block;
    height: 40px;
    width: 40px; 
    max-width:100%;
    max-height:100%;
    object-fit: scale-down;
    border: 1px solid black;
}
.newsfeed-user-information {
  display: flex;
  flex-wrap: nowrap;
}
.user-show-link {
  color: black;
  font-family: inherit;
  font-size:20px;
  text-decoration: none;
  position: relative;
  left: -20px;
  top: 3px;
} 

