/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.body {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box; 
  border: none;
  position: static;
  flex-wrap: wrap;
  height: 50px;
  position: relative;
  width: 100%;
  background: #2851A3;
  padding: 0 100px;
  margin: auto;
}

/* Dropdown Button */
.dropbtn {
  background-color: #2851A3;
  padding: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  border: #A9A9A9;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: inherit;
  font-size: 20px;
  color:#A9A9A9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: white;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.logout-button {
  cursor: pointer;
}


.newsfeed {
  margin-top:50px;
}

.navbar-newsfeed-link{
  background-color:white;
  color: #2851A3;
  font-size: 22px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


.login-errors-div {
  background: #c51244;
  padding: 10px;
  border-radius: 5px;
  position: relative; 
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  left: 650px;
  top: 80px;
}

.login-errors{
    list-style: none; 
    list-style-type: none;
    list-style-position: inside;
    margin: 5px;
}

.login-errors-div:before {
  content: ''; 
  width: 0; 
  height: 0; 
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #c51244;
  left: -10px; 
  position: absolute; 
  
}